<?xml version="1.0"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

   <security-constraint>
      <web-resource-collection>
         <web-resource-name>MyDomain admin users</web-resource-name>
         <url-pattern>/admin/*</url-pattern>
      </web-resource-collection>
      <auth-constraint>
         <role-name>ROLE_ADMIN</role-name>
      </auth-constraint>
   </security-constraint>

   <security-role>
      <role-name>ROLE_USER</role-name>
   </security-role>

   <security-role>
      <role-name>ROLE_ADMIN</role-name>
   </security-role>

   <!-- Configure login to be HTTP Basic -->
   <login-config>
      <auth-method>BASIC</auth-method>
      <realm-name>XRealmUsersRoles</realm-name>
   </login-config>
</web-app>

